/*
created using:
- http://www.w3schools.com/tags/ref_colorpicker.asp
(- http://www.colorzilla.com/gradient-editor/)
*/

body {
  max-width: 1000px;
  margin: auto;
  padding: 15px;
  background: rgb(246, 248, 250);
  font-family: Helvetica, Arial, sans-serif;
}

.my-btn {
  background: rgb(212, 220, 230);
  color: rgb(0, 51, 204);
  font-weight: 800;
  font-size: 1.5em;
  border-radius: 5px;
  border-style: hidden;
  padding: 0.25em 0.75em;
  margin: 10px 5px;
}

.input-btn {
  background: rgb(212, 220, 230);
  color: rgb(0, 51, 204);
  font-weight: 800;
  font-size: 1.25em;
  border: 1px solid rgb(0, 51, 204);
  padding: 0.25em 0.75em;
  /*margin: 10px 5px;*/
}

table {
  background: rgb(212, 220, 230);
  padding: 0.25em;
}

td {
  padding: 0.5em;
}

table tbody, tfoot tr {
  background: white;
}

table thead tr {
  color: rgb(0, 51, 204);
  font-weight: bold;
}

table.my-tbl-sortable thead tr {
  cursor: pointer;
}

table.my-tbl-sortable td:nth-child(1) {
  text-align: center;
}

table.my-tbl-sortable td:nth-child(2) {
  text-align: right;
}

tfoot {
  font-weight: bold;
}


#container-toplevel {
  width: auto;
  display: flex;
  flex-direction: column;
}

#container-input {
  /*border: 1px solid rgb(0, 51, 204);*/
  display: flex;
  flex-direction: row;
}

#txt-input {
  flex-grow: 1;
  font-size: 1.25em;
}

#container-output {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

#txt-output {
  flex-grow: 1;
  font-size: 1em;
  font-family: Helvetica, Arial, sans-serif;
  resize: none;
}

#btn-clear {
  margin: 10px 0 0;
}

#container-analysis {
  background: rgb(242, 242, 242);
  font-size: 0.8em;
}

#container-anaylsis-text {
  margin: 0 10px;
}

#container-analysis-letters {
  display: flex;
  flex-direction: row;
}

/*#tbl-letters {*/
/*}*/

#container-letters-diagram {
  background: white;
  flex-grow: 1;
  margin-left: 10px;
  border: solid 2px green;
  border-radius: 5px;
}