/*
created using:
- http://www.w3schools.com/tags/ref_colorpicker.asp
(- http://www.colorzilla.com/gradient-editor/)
*/

body {
  max-width: 1000px;
  margin: auto;
  padding: 15px;
  background: rgb(246, 248, 250);
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(0, 51, 204);
}

input[type=text] {
  padding: 0 10px;
}


.my-btn {
  background: rgb(212, 220, 230);
  color: rgb(0, 51, 204);
  font-weight: 800;
  font-size: 1.5em;
  border-radius: 5px;
  border-style: hidden;
  padding: 0.25em 0.75em;
  margin: 0px 5px;
  cursor: pointer;
}

.my-btn:focus {
  outline: none;
}

.my-btn:active {
  background: rgb(191, 198, 207);
}

.my-form {
  background: white;
  border: 1px solid lightgrey;
  padding: 1px 20px;
  margin: 10px 0;
}

.my-form button {
  color: red;
  margin: 0;
}

.rotated {
  transform: rotate(2.5deg);
}

.onhover-rotate:hover {
  transform: rotate(2.5deg);
}

.onhover-grow:hover {
  transform: scale(1.005, 1.005);
}

.onhover-shrink:hover {
  transform: scale(0.98, 0.98);
}

.input-btn {
  background: rgb(212, 220, 230);
  color: rgb(0, 51, 204);
  font-weight: 800;
  font-size: 1.25em;
  border: 1px solid rgb(0, 51, 204);
  padding: 0.25em 0.75em;
  /*margin: 10px 5px;*/
  cursor: pointer;
}

table {
  background: rgb(212, 220, 230);
  padding: 0.25em;
}

th, td {
  padding: 5px;
}

table tbody, tfoot tr {
  background: white;
}

table thead tr {
  color: rgb(0, 51, 204);
  font-weight: bold;
}

table.my-tbl-sortable thead tr {
  cursor: pointer;
}

table.my-tbl-sortable thead tr :hover {
  color: rgb(255, 0, 102);
}

tfoot {
  font-weight: bold;
}


#container-toplevel {
  width: auto;
  display: flex;
  flex-direction: column;
}

#container-input {
  /*border: 1px solid rgb(0, 51, 204);*/
  display: flex;
  flex-direction: row;
}

#txt-input {
  flex-grow: 1;
  font-size: 1.25em;
}

#container-output {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

textarea#txt-output {
  flex-grow: 1;
  padding: 10px;
  font-size: 1em;
  font-family: Helvetica, Arial, sans-serif;
  resize: none;
  background: white;
  height: 10em;
}

#btn-clear {
  margin: 10px 0 0;
}

#container-analysis {
  background: rgb(242, 242, 242);
  /*display: flex;*/
  /*flex-direction: row;*/
  font-size: 0.8em;
  padding: 10px;
}

#container-anaylsis-text {
  width: 100%;
  margin-bottom: 10px;
}

#tbl-text {
  width: inherit;
}

#tbl-text td {
  text-align: right;
}

#container-analysis-letters {
  display: flex;
  flex-direction: row;
}

#tbl-letters td:nth-child(1) {
  text-align: center;
}

#tbl-letters td:nth-child(2) {
  text-align: right;
}

#container-letters-diagram {
  background: white;
  flex-grow: 1;
  margin-left: 10px;
  border: solid 2px green;
  border-radius: 5px;
}


#form-conv {
  display: flex;
  flex-direction: row;
}

#form-conv * {
  padding: 5px 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  /*border: 1px solid rgb(0, 51, 204);*/
  border: 1px solid lightgrey;
  width: 20%;
}

#form-conv option {
  width: auto;
  border-style: none;
}

#form-conv input {
  text-align: right;
}

#out-dst-amount {
  padding: 10px 10px;
  text-align: right;
  background: white;
}